/* Your existing styles */

#question-list {
  display: flex;
  flex-direction: column;
}

.list-item {
  width: 60%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.left-container {
  flex: 1;
}

.right-container {
  flex: 1;
  text-align: right;
}

.question {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  cursor: pointer;
}

.options-list {
  list-style-type: none; /* Remove the default bullet points */
  padding: 0; /* Remove default padding */
}

/* Additional styling for options */
.options-list li {
  margin-bottom: 8px;
}

/* Your other styles */
