body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: Rubik;
  }
  .parent-container {
    display: flex;
    flex-direction:row;
    width: 100%; 
    height:100%;
    background-image:url("../images/pattern-background-desktop-light.svg");
    background-size: cover;
    
    font-style: normal;
    font-weight: 500;
  }
  .left-container {
    flex: 1;
    padding: 20px;
    text-align:left;
    margin-top: 4%;
    
  }
  .right-container {
    flex: 1;
    padding: 20px;
    text-align:right;
    display:flex;
    flex-direction:column;
    margin-top: 4%;
    font-size: 28px;

  }
  .right-container.ul{
    color: #313E51;
    border-radius: 24px;
    margin-top:24px;
    background-color: #ffffff;

  }

  right-container .options {
    width: 56px; 
    height: 56px; 
    border-radius:24px; 
    margin-right: 20px;
  } 
  .options:hover {
    border-color: #F6E7FF;
    color: #A729F5;
  }
  

.questions .option-item.active {
  border-radius: 5px;
  border-color: #A729F5;
}

.questions .option-item.active .options {
  color: white;
}
/* Add the following styles to your existing CSS */

.options.correct {
  border-color: #26D782;
  color: #26D782;
}

.options.wrong {
  border-color: #EE5454;
  color: white;
}

.questions.correct {
  border-radius: 
  background-color: #26D782
}

.questions.wrong {
  border-color: #EE5454;
}


   
  
  
/* .option-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add spacing between items */
    /* padding: 10px;
    background-color:#ffffff;
    border-radius: 24px; 
  }
  
  
     
  }

  .content {
    flex: 1;
    
  }
  
.option-item .content { 
    padding: 20px;
    color: #313E51;
    padding: 18px 20px;
    align-items:center;
    gap:32px; 
}
.left-container .h1{
  font-size: 36px;
  color: #313E51;
}
.left-container .p{
  color: #626c7F;
} */ */
