body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: Rubik;
  }
  .parent-container {
    display: flex;
    flex-direction:row;
    width: 100%; 
    height:100%;
    background-image:url("../images/pattern-background-desktop-light.svg");
    background-size: cover;
    
    font-style: normal;
    font-weight: 500;
  }
  .left-container {
    flex: 1;
    padding: 20px;
    text-align:left;
    margin-top: 4%;
    
  }
  .right-container {
    flex: 1;
    padding: 20px;
    text-align:right;
    display:flex;
    flex-direction:column;
    margin-top: 4%;
    font-size: 28px;

  }
  .right-container.ul{
    color: #313E51;
  }
  
  
.option-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add spacing between items */
    padding: 10px;
    background-color:#ffffff;
    border-radius: 24px; 
  }
  
  .options {
    width: 50px; 
    height: 50px; 
    border-radius:20px; 
    margin-right: 10px;
    
     
  }

  .content {
    flex: 1;
    
  }
  
.option-item .content { 
    padding: 20px;
    color: #313E51;
    padding: 18px 20px;
    align-items:center;
    gap:32px; 
}
.left-container .h1{
  font-size: 36px;
  color: #313E51;
}
.left-container .p{
  color: #626c7F;
}
