
/* Add this to your existing styles */
body {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-image: url("/images/pattern-background-desktop-light.svg");
  background-size: cover;
  background-color: #f4f6fA;
  /* For Webkit browsers like Chrome and Safari */
  overflow-y: scroll; /* Always show vertical scrollbar */
}

/* For Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track */
}


.header {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0px 2% 30px;
  margin: 20px 20;
}

#question-list {
  display: flex;
  border: 2px solid yellow;
  justify-content: space-between;
  margin: 20px 20;
  flex-direction: row-reverse;
  padding: 0px 2%;
  overflow-y: auto;  /* Enable vertical scrolling */
  max-height: 500px; /* Set a fixed maximum height */
}

.list-item {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  font-size: 16px;
  color: #313E51;
  width: 50%;
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.question {
  margin-bottom: 10px;
  border: 2px solid blue;
  font-size: 20px;
  font-style: italic;
  color: #626C7F;
}


button {
  margin-top: 10px;
  cursor: pointer;
}

.options-list {
  border: 2px solid pink;
  display: flex;
  justify-content: space-between;
  text-align: right;
  display: flex;
  flex-direction: column;
  width: 500px
}

.letter{
  background-color:rgba(244, 246, 250, 1);
  padding: 10px 12px;
  border-radius:5px;
}

/* Additional styling for options */
.options-list li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 24px;
  list-style: none;
  gap: 30px;
  font-size: 17px;
  font-style: normal;

}

.submit,
.nextButton {
  background-color: #A729F5;
  padding: 10px 20px;
  font-size: 28px;
  color: #ffffff;
  gap: 10px;
  align-items: center;
  border-radius: 24px;
  border-color: none;
  border: 5px;
  width: 100%;
}

/* Media queries for different screen sizes */

/* Adjust styles for screens with a maximum width of 768px */
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden; /* Prevent horizontal overflow */
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  #question-list {
    flex-direction: column-reverse;
  }

  .list-item {
    width: 100%;
  }
}

.crossIcon{
  color:red;
  border-radius:100px;
 height: px;
  border:1px solid red;
}