body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .parent-container {
    display: flex;
    flex-direction:row;
    width: 100%; 
    background-image:url("../images/pattern-background-desktop-light.svg");
    background-size: cover;
    background-color:rgba(255, 255, 255, 0.5)
  }
  
  .left-container {
    flex: 1;
    padding: 20px;
    text-align:left;/* Add a border between left and right containers */
  }
  
  .right-container {
    flex: 1;
    padding: 20px;
    text-align:right;
    display:flex;
    flex-direction:column;
  }
  .right
  
  /* .header.h1 {
    text-align: center;
    font-weight: 500;
    font-size:25px;

  }
   */
  /* .user-controls {
    /* Add styles for user controls if needed */
  /* }
  
  .navigation {
    text-align: center;
  }
  
  .navigation ul {
    list-style: none;
    padding: 0;
    flex-direction: column;
    align-items:center
  }
  
  .navigation li {
    margin-bottom: 10px;
  }
   */
  
  
  
  /* .navigation a:hover {
    background-color: #ddd;
  } */
   